<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="EventGhostSendAddress" value ="localhost"/>
        <add key="EventGhostSendPassword" value ="password" />

    <add key="EventGhostSendPort" value ="10001"/>-->

    <add key="EventGhostServerPort" value ="10000"/>
    <add key="EventGhostServerPassword" value ="password" />
  </appSettings>

</configuration>